@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.lug.ustc.edu.cn/css2?family=Allura&display=swap');

/** font-family **/
.Allura {
    font-family: 'Allura', cursive;
}

.text-stroke{
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}
